body {
    margin: 0;
}

section {
    border: 0;
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
}


aside {
    flex-direction: column;
    flex-basis: 25%;

}

.nav-menu {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    height: 70px;;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    border-right: 1.5px solid;
    border-bottom: 1.5px solid;
    border-color: #e2e2e1;

}

.mi-perfil {
    display: flex;
    justify-content: flex-start;
    margin:0;
    height: 50px;
    align-items: center;
    gap: 10px;
}



img {
    width: 40px;
    max-width: 40px;
    border-radius: 100px;
}



h3 {
    color: #222f4d;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;

}

p {
    margin: 0;
    color: grey;
    font-family: "Roboto", sans-serif;
    font-size: 0.8rem;
}

.metadatos {
    display: block;
    align-items: center;
    gap: 10px;
}

.iconos {
    display: flex;
    align-items: center;
    color: #a7a7a7;
    padding: 10px;
    gap: 10px;
}

.chats-abiertos {
    background-color: #ffffff;
    border-right: 1.5px solid;
    border-bottom: 1.5px solid;
    border-color: #e2e2e1;
}

.nuevo-chat {
height: 100px;
display: flex;
justify-content: center;
align-items: center;
background-color: #ffffff;
border-right: 1.5px solid;
border-bottom: 1.5px solid;
border-color: #e2e2e1;

}

button {
    background-color: #9d90cf;
    border: 0;
    padding: 15px;
    padding-left: 35px;
    padding-right: 35px;
    font-family: 'Roboto';
    color: #ffffff;
}

.chat {
    display: flex;
    align-items: center;
    gap:10px;
    padding: 20px;
    border-bottom: 1px solid;
    border-color: #e2e2e1

}



