body {
    margin: 0;
}

section {
    border: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    background-color: yellow;
}


section {
    flex-direction: column;
    width: 30%;
    height: 100vh;
    background-color: blueviolet;

}

.nav-menu {
    display: flex;
    justify-content: space-between;
}

img {
    width: 100px;
}

